@import "tailwindcss";

/* custom font style */
/* styles/fonts.css */
.font-regular {
  font-family: var(--font-regular), sans-serif;
}

.font-medium {
  font-family: var(--font-medium), sans-serif;
}

.font-light {
  font-family: var(--font-light), sans-serif;
}

.font-bold {
  font-family: var(--font-bold), sans-serif;
}

/* app/globals.css */
html {
  font-family: var(--font-poppins), sans-serif;
  overflow-x: hidden !important;
}

/* .bg_custom {
  background-image: linear-gradient(
    to right top,
    #1a123e,
    #1e1138,
    #200f33,
    #210f2e,
    #210e29,
    #220e28,
    #240f27,
    #250f26,
    #291028,
    #2d1029,
    #32112b,
    #36112c
  );
} */
